@model MahadevHWBillingApp.Models.Profile
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.BusinessName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    <script src="~/Scripts/keyEvent.js"></script>

    @RenderSection("scripts", required: false)
    <style>
        .header {
            border-bottom: 2px solid #343a405e;
        }

        .nav-bg {
            background-color: #1f6b8a;
        }

        .form-control {
            border-radius: 0 !important;
        }

        .custom-options {
            cursor: pointer !important;
        }

        .custom-select-scroll {
            overflow-y: scroll;
            max-height:100px;
        }
        .custom-select-border{
            /*border-right: 2px solid #aaa;
            border-left: 2px solid #aaa;
            border-top: 2px solid #aaa;*/
        }

        .list-group-item {
            position: relative;
            display: block;
            padding: 5px;
            background-color: #eee;
            border:none;
            /* border: 1px solid rgba(0, 0, 0, 0.125); */
        }

        textarea:focus,
        textarea.form-control:focus,
        input.form-control:focus,
        input[type=text]:focus,
        input[type=password]:focus,
        input[type=email]:focus,
        input[type=number]:focus,
        [type=text].form-control:focus,
        [type=password].form-control:focus,
        [type=email].form-control:focus,
        [type=tel].form-control:focus,
        [contenteditable].form-control:focus {
            box-shadow: inset 0 -1px 0 #ddd;
        }

        /*td {
            padding: 4px !important;
            font-weight: 500;
            font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif !important;
            font-style: normal !important;
            font-variant-ligatures: normal !important;
            font-variant-caps: normal !important;
            font-variant-numeric: normal !important;
            font-variant-east-asian: normal !important;
            font-stretch: normal !important;
            font-size: 90% !important;
            line-height: 1.45em !important;
            font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif !important;
        }
        */

        /* Hide Arrows From Input Number */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox Hide Arrows From Input Number*/
        input[type=number] {
            -moz-appearance: textfield;
        }

        button {
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
        }

        h4 {
            color: #1f6b8a;
            font-weight: 500;
            font-size: medium;
        }

        .card-header {
            color: #1f6b8a;
            font-weight: 500;
            font-size: medium;
            text-align: center;
        }

        .custom-disabled {
            color: #6c757d;
            pointer-events: none;
            background-color: #eee;
        }

        .grid-summary {
            color: #1f6b8a;
            font-weight: 500;
            font-size: medium;
            position: relative;
            left: 200px;
            text-align: center;
        }

        [v-cloak] {
            display: none;
        }

        input {
            padding-left: 10px !important
        }

        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px #6c757d;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #eee;
            -webkit-box-shadow: inset 0 0 6px #6c757d;
        }

            ::-webkit-scrollbar-thumb:window-inactive {
                background: #6c757d;
            }

        .custom-alert {
            color: red;
        }

        .scroll {
            display: block;
            height: 300PX;
            overflow-y: scroll;
        }

        form .correct {
            background-image: url(../../Images/correct.png);
            background-repeat: no-repeat;
            background-position: right;
            border-color: #1ae248;
        }

        .card-alert {
            border-left-color: red;
            border-right-color: red;
            border-top-color: red;
        }

        .card-alert-header {
            border-bottom-color: red;
        }
    </style>
</head>

<body style="background-color:#eee">

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top nav-bg header-container" style="height:30px;">
        <a class="navbar-brand nav-link-dashboard" style="font-size:1.1rem; margin-left:10px;" href=@Url.Action("New","Dashboard")>@Model.BusinessName</a>
        <div style="color:#ffffffb8; padding-left:30%; font-size:0.9rem;"> <strong>GSTIN:&nbsp;@Model.GSTIN &nbsp; &nbsp; Name: <strong class="user-name">@Model.Owner</strong> &nbsp; &nbsp;User:Tax Payer</strong></div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark header fixed-top nav-bg header-container" style="height:30px; margin-top:30px; font-size:0.95rem;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link nav-link-bill" href=@Url.Action("New", "Billing")>Generate Invoice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-item" href=@Url.Action("index", "Item")>Add Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-sale" href=@Url.Action("List", "Sale")>Sales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-purchase" href=@Url.Action("List", "Purchase")>Purchase</a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link nav-link-record-payment" href=@Url.Action("RecordPayment", "Sale")>Record Payment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-estimate" href=@Url.Action("New", "Estimate")>Estimates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-dashboard" href=@Url.Action("New", "Dashboard")>Report</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link nav-link-shortcut" href=@Url.Action("List", "Keyboard")>Keyboard Shortcut</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-contact" href=@Url.Action("List", "Contact")>Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-profile" href=@Url.Action("New", "Profile")>Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-logout" href=@Url.Action("Logout", "Account")>Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    @*@Html.Partial("~/Views/Shared/ConfirmationModal.cshtml")*@
    <div class="body-content body-container">
        @RenderBody()
        @Scripts.Render("~/bundles/validation")
        <hr class="d-print-none" />
        <footer class="d-print-none footer-container">
            <p>&copy; @DateTime.Now.Year - Product by Ram Bharlia</p>
        </footer>
    </div>
</body>
</html>
