<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")


    @RenderSection("scripts", required: false)
    <style>
        .header {
            border-bottom: 2px solid #343a405e;
        }

        .nav-bg {
            background-color: #1f6b8a;
        }

        [v-cloak] {
            display: none;
        }
        input {
            padding-left:10px !important
        }
        .blur-bg {
            opacity: 0.5;
        }

        .hide {
            display: none
        }

        .global-spinner {
            right: 600px;
            top: 250px;
            position: absolute !important;
            z-index: 10000;
        }
    </style>
</head>

<body style="background-color:#eee">
    <div class="global-spinner fa-5x" style="color:#043346 !important">
        <i class="fa fa-spinner fa-spin fa-pulse"></i>
    </div>
    <div class="body-content body-container">
        @RenderBody()
        <script src="~/Scripts/customAjaxHandler.js"></script>
        <hr class="d-print-none" />
        <footer class="d-print-none footer-container">
            <p>&copy; @DateTime.Now.Year - Ram Bharlia</p>
        </footer>
    </div>
</body>
</html>
